/* ================================================== */
/*           -------------- RESET ------------        */
/* ================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
}

/* ================================================== */
/*           ------------ VARIABLES ----------        */
/* ================================================== */

:root {
  --ff--body: sans-serif;

  --clr--header-dark: rgb(37, 19, 96);
  --clr--header-light: rgb(70, 90, 184);
  --clr--button-search: rgb(105, 145, 227);
  --clr--button-city: rgb(174, 174, 175);
  --clr--forecast-box: rgb(50, 61, 79);

  --clr--font-dark: black;
  --clr--font-light: white;
}

/* ================================================== */
/*            ------------ STYLING ----------         */
/* ================================================== */

body {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff--body);
}

.wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "aside weather-today"
    "aside five-day";

  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 4fr;
  width: 90vw;
  border: 1px solid black;
  padding: 0.5em;
  margin: 2em;
}

/* ================================================== */
/*             ------------ Header ----------         */
/* ================================================== */

header {
  grid-area: header;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(
    to right,
    rgb(70, 90, 184),
    rgb(37, 19, 96)
  );
  color: var(--clr--font-light);
}

/* ================================================== */
/*           ---------- MAIN CONTENT ---------        */
/* ================================================== */

main {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0 0 0.5em;
  width: 100%;
}

h1 {
  font-size: 2.25em;
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*      Current weather styles     */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.weather-today {
  grid-area: weather-today;
  display: grid;
  border: 1px solid black;
  padding: 0 0.25em 0.5em 0.25em;
  width: 100%;
  gap: 1em;
}

.weather-today h2 {
  font-size: 2em;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: end;
}

.current-day-info-header p,
.weather-today p {
  font-size: 1.75em;
  margin: 0;
}

.current-temp,
.current-wind-speed,
.current-humidity {
  font-size: 1em;
}

.current-day-info-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*     Five-day forecast styles    */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.five-day-forecast {
  grid-area: five-day;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.five-day-forecast h2 {
  padding: 0.5em 0;
}

.forecast-boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
}

.current-weather-icon {
  width: 50px;
}

.icon {
  width: 25%;
}

.forecast-boxes article {
  display: grid;
  grid-template-rows: 0.75fr 1fr 0.75fr 0.75fr 0.75fr;
  align-items: center;
  background-color: var(--clr--forecast-box);
  color: var(--clr--font-light);
  padding: 0.25em;
  gap: 0.5em;
}

.forecast-boxes p {
  margin: 0;
}

.date,
.temp,
.wind,
.humid,
.search,
.clear,
.city-search-box h2 {
  font-size: 1em;
}

/* ================================================== */
/*    ---------- ASIDE SEARCH BAR/HISTORY -------     */
/* ================================================== */

aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: 1fr 3fr;
  padding: 0.5em 0 0 0;
  gap: 0.5em;
  width: 100%;
}

.city-search-box {
  display: grid;
  align-items: start;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5em;
}

.city-search-box h2 {
  font-size: 1.25em;
  padding: 0.25em;
  height: fit-content;
}

#city-search-box {
  display: grid;
  border: 1px solid lightgrey;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  width: 100%;
  height: 40px;
  font-size: 1.25em;
}

.search,
.clear {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: fit-content;
  padding: 0.5em 0;
  border-radius: 0.25em;
  background-color: var(--clr--button-search);
  color: var(--clr--font-light);
  cursor: pointer;
}

.search:hover {
  background-color: rgb(70, 90, 184);
}

.city-search-history {
  border-top: 1px solid lightgrey;
  /* padding: 0.5em 0; */
}

.city-name {
  display: none;
  background-color: var(--clr--button-city);
}

/* ================================================== */
/*     -------- RESPONSIVE STYLING, tablet -------    */
/* ================================================== */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
  }

  h1 {
    font-size: 2em;
  }

  .weather-today h2 {
    font-size: 1.75em;
    height: 80%;
  }

  .current-day-info-header p,
  .weather-today p {
    font-size: 1.5em;
    margin: 0;
  }

  .current-temp,
  .current-wind-speed,
  .current-humidity {
    font-size: 1em;
  }

  .forecast-boxes {
    grid-template: 1fr 1fr / repeat(3, 1fr);
    gap: 0.5em;
  }

  .icon {
    width: 20%;
  }

  .date,
  .temp,
  .wind,
  .humid,
  .search,
  .clear,
  .city-search-box h2 {
    font-size: 1em;
  }
}

/* ================================================== */
/*     -------- RESPONSIVE STYLING, mobile -------    */
/* ================================================== */

@media screen and (max-width: 767px) {
  .wrapper {
    grid-template-areas:
      "header"
      "aside"
      "main";

    grid-template-rows: 1fr 5fr auto;
    grid-template-columns: auto;
  }

  header {
    grid-area: header;
  }

  main {
    padding: 0.5em 0 0;
    grid-area: main;
    grid-template-rows: auto;
  }

  h1 {
    font-size: 1.5em;
  }

  .weather-today h2 {
    font-size: 1.5em;
  }

  .current-day-info-header p,
  .weather-today p {
    font-size: 1em;
    margin: 0;
  }

  .current-temp,
  .current-wind-speed,
  .current-humidity {
    font-size: 1em;
  }

  .current-day-info-header {
    flex-direction: column;
    justify-self: start;
    align-items: start;
    gap: 0.5em;
  }

  .current-date {
    font-size: 1.25em;
  }

  aside {
    grid-area: aside;
    grid-template-rows: auto 3fr;
  }

  .city-search-box {
    grid-template-rows: auto;
    gap: 1em;
  }

  .weather-today {
    padding-top: 0.5em;
    gap: 0.5em;
    font-size: 1.25em;
  }

  .forecast-boxes {
    grid-template: repeat(5, 1fr) / 1fr;
  }

  .current-weather-icon {
    width: 50%;
  }

  .icon {
    width: 12%;
  }

  .five-day-forecast p {
    font-size: 1.25em;
  }
}
